type: "SNIPPET_NOTE"
folder: "ae2f8c8f1b19a06d348c"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
createdAt: "2017-05-11T00:38:41.214Z"
updatedAt: "2017-05-11T00:38:59.769Z"
