type: "SNIPPET_NOTE"
folder: "ae2f8c8f1b19a06d348c"
title: "Blythe Script Output for Getting WiFi Working"
description: "Blythe Script Output for Getting WiFi Working"
snippets: [
  {
    name: "WiFi Script Output"
    mode: "text"
    content: '''
      Running /usr/local/qr-linux/wificonfig.sh -g
      	softap [ ssid=test_net, wpa_passphrase=mypassword ]
      Running ifdown wlan0
      	ifdown: interface wlan0 not configured
      Running ifup eth0
      	Internet Systems Consortium DHCP Client 4.2.4
      	Copyright 2004-2012 Internet Systems Consortium.
      	All rights reserved.
      	For info, please visit https://www.isc.org/software/dhcp/
      
      	Cannot find device "eth0"
      	Error getting hardware address for "eth0": No such device
      	Failed to bring up eth0.
      Running ifconfig
      	lo        Link encap:Local Loopback  
      			  inet addr:127.0.0.1  Mask:255.0.0.0
      			  inet6 addr: ::1/128 Scope:Host
      			  UP LOOPBACK RUNNING  MTU:16436  Metric:1
      			  RX packets:16 errors:0 dropped:0 overruns:0 frame:0
      			  TX packets:16 errors:0 dropped:0 overruns:0 carrier:0
      			  collisions:0 txqueuelen:0 
      			  RX bytes:1184 (1.1 KB)  TX bytes:1184 (1.1 KB)
      
      Running cd /lib/firmware/ath6k/AR6004/hw3.0 && pwd
      	/lib/firmware/ath6k/AR6004/hw3.0
      Running ls -l /lib/firmware/ath6k/AR6004/hw3.0/
      	total 0
      Running ls -l /mnt/modem/image/*.bin
      	ls: cannot access /mnt/modem/image/*.bin: No such file or directory
      Running ls -l /mnt/modem/image/
      	total 11200
      	-rwxr-xr-x 1 root root     500 Dec  8  2015 adsp.b00
      	-rwxr-xr-x 1 root root     488 Dec  8  2015 adsp.b01
      	-rwxr-xr-x 1 root root       1 Dec  8  2015 adsp.b02
      	-rwxr-xr-x 1 root root 5055248 Dec  8  2015 adsp.b03
      	-rwxr-xr-x 1 root root 1303705 Dec  8  2015 adsp.b04
      	-rwxr-xr-x 1 root root 1096090 Dec  8  2015 adsp.b05
      	-rwxr-xr-x 1 root root     584 Dec  8  2015 adsp.b06
      	-rwxr-xr-x 1 root root  941638 Dec  8  2015 adsp.b07
      	-rwxr-xr-x 1 root root     120 Dec  8  2015 adsp.b08
      	-rwxr-xr-x 1 root root  697104 Dec  8  2015 adsp.b09
      	-rwxr-xr-x 1 root root  177096 Dec  8  2015 adsp.b10
      	-rwxr-xr-x 1 root root   10932 Dec  8  2015 adsp.b11
      	-rwxr-xr-x 1 root root    6105 Dec  8  2015 adsp.b12
      	-rwxr-xr-x 1 root root     988 Dec  8  2015 adsp.mdt
      	-rwxr-xr-x 1 root root     180 Dec  8  2015 cmnlib.b00
      	-rwxr-xr-x 1 root root     168 Dec  8  2015 cmnlib.b01
      	-rwxr-xr-x 1 root root  111720 Dec  8  2015 cmnlib.b02
      	-rwxr-xr-x 1 root root    4416 Dec  8  2015 cmnlib.b03
      	-rwxr-xr-x 1 root root     348 Dec  8  2015 cmnlib.mdt
      	-rwxr-xr-x 1 root root     180 Dec  8  2015 isdbtmm.b00
      	-rwxr-xr-x 1 root root     168 Dec  8  2015 isdbtmm.b01
      	-rwxr-xr-x 1 root root   24692 Dec  8  2015 isdbtmm.b02
      	-rwxr-xr-x 1 root root     104 Dec  8  2015 isdbtmm.b03
      	-rwxr-xr-x 1 root root     348 Dec  8  2015 isdbtmm.mdt
      	-rwxr-xr-x 1 root root     180 Dec  8  2015 keymaste.b00
      	-rwxr-xr-x 1 root root     168 Dec  8  2015 keymaste.b01
      	-rwxr-xr-x 1 root root   18324 Dec  8  2015 keymaste.b02
      	-rwxr-xr-x 1 root root     208 Dec  8  2015 keymaste.b03
      	-rwxr-xr-x 1 root root     348 Dec  8  2015 keymaste.mdt
      	-rwxr-xr-x 1 root root     180 Dec  8  2015 mc_v2.b00
      	-rwxr-xr-x 1 root root     168 Dec  8  2015 mc_v2.b01
      	-rwxr-xr-x 1 root root  131072 Dec  8  2015 mc_v2.b02
      	-rwxr-xr-x 1 root root      12 Dec  8  2015 mc_v2.b03
      	-rwxr-xr-x 1 root root     348 Dec  8  2015 mc_v2.mdt
      	-rwxr-xr-x 1 root root     180 Dec  8  2015 playread.b00
      	-rwxr-xr-x 1 root root     168 Dec  8  2015 playread.b01
      	-rwxr-xr-x 1 root root  135204 Dec  8  2015 playread.b02
      	-rwxr-xr-x 1 root root     616 Dec  8  2015 playread.b03
      	-rwxr-xr-x 1 root root     348 Dec  8  2015 playread.mdt
      	-rwxr-xr-x 1 root root     180 Dec  8  2015 tqs.b00
      	-rwxr-xr-x 1 root root     168 Dec  8  2015 tqs.b01
      	-rwxr-xr-x 1 root root  786152 Dec  8  2015 tqs.b02
      	-rwxr-xr-x 1 root root  159744 Dec  8  2015 tqs.b03
      	-rwxr-xr-x 1 root root     348 Dec  8  2015 tqs.mdt
      	-rwxr-xr-x 1 root root     180 Dec  8  2015 widevine.b00
      	-rwxr-xr-x 1 root root     168 Dec  8  2015 widevine.b01
      	-rwxr-xr-x 1 root root  164840 Dec  8  2015 widevine.b02
      	-rwxr-xr-x 1 root root    1028 Dec  8  2015 widevine.b03
      	-rwxr-xr-x 1 root root     348 Dec  8  2015 widevine.mdt
    '''
  }
]
tags: []
isStarred: false
createdAt: "2017-05-12T01:48:11.085Z"
updatedAt: "2017-05-12T01:51:23.831Z"
